pants-images .image {
    display: none;
}
.select {
    cursor: pointer;
    display: block;
    padding: 12px 16px;
    font-size: 1.1em;
}
.progress {
    display: none;
}
.thumb {
    position: relative;
    margin-bottom: 10px;
}
.thumb .exit {
    display: none;
    position: absolute;
    left: 88px;
    cursor: pointer;
    top: -13px;
    border: 1px solid #eee;
    padding: 5px 0;
    background: #fff;
    border-radius: 50%;
}
.thumb:hover .exit {
    display: inherit;
    z-index: 100;
}
.thumb:hover img {
    box-shadow: 0 0 10px;
}

progress, .progress-value  {
    display: none;
}